.header {
    grid-area: h;
    background-color: lightgreen;
}

.header svg {
    width: 100px;
}

.loginBlock {
    float: right;
    margin-right: 100px;
}

.loginBlock a {
    color: green;
    margin-right: 100px;
}